{% extends "base.html" %}
{% load static %}
{% block title %}Add Channel{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'add_channel' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="{{ form.channel_name.id_for_label }}">Channel Name:</label></td>
                <td>{{ form.channel_name }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.stream.id_for_label }}">Input Stream:</label></td>
                <td>{{ form.stream }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.video_codec.id_for_label }}">Video Codec:</label></td>
                <td>{{ form.video_codec }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.audio_codec.id_for_label }}">Audio Codec:</label></td>
                <td>{{ form.audio_codec }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.preset.id_for_label }}">Select Preset:</label></td>
                <td>{{ form.preset }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.video_bitrate.id_for_label }}">Video Bitrate:</label></td>
                <td>{{ form.video_bitrate }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.resolution.id_for_label }}">Resolution:</label></td>
                <td>{{ form.resolution }}</td>
            </tr>
            <tr>
                <td><label for="{{ form.output_url.id_for_label }}">Output Stream:</label></td>
                <td>{{ form.output_url }}</td>
            </tr>
        </table>
        <input class="btn btn-primary mt-3" type="submit" value="Submit">
    </form>
<link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}

